/*styles for the search page!*/
#search-result {
  margin-top: 5em;
}

#search-result .results {
  margin-bottom: 2em;
}

#search-result .column.details {
  padding-left: 2em !important;
}

#search-result .column.details p {
  margin-bottom: 0.5em;
}

#search-result .column.details .tag {
  background-color: #fdfd96;
  color: #ff8c00;
  margin-top: 1em;
}
