@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  /*max-width: 1366px;*/
  margin: 0 auto;
  padding: 0;
  padding-bottom: 150px;
}

.book-tag {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  padding: 6px 12px;
  background: rgb(240,240,240);
  border-radius: 4px;
  text-transform: uppercase;
  width: fit-content;
}
